* {
  font-family: Montserrat, Arial, sans-serif;
}

body{
  margin:0px;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

html{
    font-size: 100%;
}

input:focus {
  outline: none;
}

ul {
  list-style-type: none;
}